# Local settings for building PowerFolder with Ant (see build.xml)

# Author <a href="mailto:schaatser@powerfolder.com">Jan van Oosterom</a>
# Version: $Revision: 1.4 $

#generate line numbers in classes (on/off)
Debug=on
#give NO warnings during compilation (off/on)
NoCompileWarnings=off
#warn on deprecated (on/off)
Deprecation=on

#javac 1.5 specific warnings:
#give (a lot of) unchecked warnings  (-unchecked/unchecked)
Unchecked=-unchecked
#Give Fallthrough warnings (no break in switch/case) (-fallthrough/fallthrough)
Fallthrough=fallthrough

BuildBy=<your name> (aka <your nick>)
MajorVersion=1
MinorVersion=0
RevisionVersion=2
KeystoreLocation=<directory to my keystore>
SignPassword=<your keystore password>
SignAlias=<sign alias>

# InstallerGeneratorProgram=<location of makensisw.exe>
# e.g. InstallerGeneratorProgram=C:\\Program Files\\NSIS\\makensisw.exe

JRE_VERSION=1.6
JRE_URL32=http://download.powerfolder.com/java/jre-windows-i586.exe
JRE_URL64=http://download.powerfolder.com/java/jre-windows-x64.exe
JRE_DIR=C:\\jre

InstallerFilesLocation=<location of powerfolder checkout>
# e.g. InstallerFilesLocation=E:\\Java\\eclipse_workspace\\PowerFolder-Installer-SVN\\trunk
#
# when generating javadoc generate documentation for public, protected, package, or private
javadoc.access=private

# optional set output/build dir
#output.dir=c:\\powerfolder\\output
#

# optional set (existing) junit test dir
#test.dir=c:\\powerfolder\\testing
#