# PowerFolder Linux Server Example Configuration
# More information available at http://www.powerfolder.com
# Last edited by flo - 11/13/2005

# Name which is displayed to other users in the PowerFolder network
nick=foo

# Port number on which PowerFolder will listen for other nodes
port=1337

# Static hostname under which the server machine will be available, if n
mydyndns=foo.powerfolder.com

# Default location where folders reside
basedir=/home/foo/powerfolder/folders

# In the following configuration, you configure your folders. At the moment
# it is only possible to get a folder id and password created by using
# the PowerFolder GUI, so you have to create it on an other machine or
# with PowerFolder running in X. So create folders with the GUI and copy
# the appropriate part from the config into this server config.

folder.myfoldername.id=[+xz3vZzcHtX50GS1]
folder.myfoldername.secret=false
folder.myfoldername.dir=/home/foo/powerfolder/folders/myfoldername
folder.myfoldername.syncprofile=autodownload_all

folder.myfoldername.id=[myfoldername2-+Hx3vZxChtX50GX1]
folder.myfoldername.secret=true
folder.myfoldername.dir=/home/foo/powerfolder/folders/myfoldername2
folder.myfoldername.syncprofile=autodownload_all
