<html>
<body>
#if ($showError)
    <p class="message">$message</p>
#else 
    <table cellspacing="0" cellpadding="0" class="fileTable" border="0">
    #if ($listroots) 
        #set( $count = 0 )
        #foreach($file in $roots)     

	            <tr>
                <td><img src="/images/Directory.gif" alt="F" border="0" width="16" height="16" /></td>
                <td></td>
                <td><a id="dir_$count" class="directory" href="#" onclick="selectDir($count, '$VelocityTools.URLEncode($file.getAbsolutePath())')" ondblclick="showDir('$VelocityTools.URLEncode($file.getAbsolutePath())')">$file.getAbsolutePath() $VelocityTools.getElement($count, $rootNames)</a></td>
                </tr>	
        #set ($count = $count + 1)   	
        #end        
    #else
          <tr>
          <td><img src="/images/Directory.gif" alt="F" border="0" width="16" height="16" /></td>
          <td></td>
          <td><a class="directory" href="#" ondblclick="showDir('$VelocityTools.URLEncode($parent)')">..</a></td>
          </tr>	
        #set( $count = 0 )
        #foreach($file in $directory.listFiles())        	
            #set ($count = $count + 1)
		    #if ($file.isDirectory() && !$file.isHidden())
	            <tr>
                <td><img src="/images/Directory.gif" alt="F" border="0" width="16" height="16" /></td>
                <td></td>
                <td><a id="dir_$count" class="directory" href="#" onclick="selectDir($count, '$VelocityTools.URLEncode($file.getAbsolutePath())')" ondblclick="showDir('$VelocityTools.URLEncode($file.getAbsolutePath())')">$file.getName()</a></td>
                </tr>	
            #end		
	    #end

    #end
    	</table>
#end
</body>
</html>