<h2>Folder: $folderDetails.getName()</h2>
<input type="hidden" name="FolderID" id="FolderID" value="$folderDetails.getID()" />
Sync Profile: 

<select class="dropdown" id="SyncProfileID" name="SyncProfileID" size="1">
#foreach($profile in $profileDetails)  
	#if ($profile.getID().equals($folderDetails.getProfileID()))
		<option value="$profile.getID()" selected="selected">$profile.getTranslatedName()</option>
	#else
		<option value="$profile.getID()">$profile.getTranslatedName()</option>
	#end
#end	
</select> <INPUT TYPE="button" onclick="setProfile()" class="smallbutton" value="Save" id="savesyncbutton"><BR />
<br />
PowerFolder link: <A HREF="$folderDetails.getPowerFolderLink()">$folderDetails.getPowerFolderLink()</A>