BODY, TD,  .writetext, .dropdown  {
	font-family : verdana, sans-serif;
	font-size : 10px;
}

BODY {
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
}

TH {
	text-align : left;
}

H1  {
	font-variant : small-caps;	
	font-size : 14px;
	font-weight : normal;
}

H2  {	
	font-weight : bold;
	font-size : 12px;
}

.message {
	font-weight : bold;
	color: #0000ff
}

.hidden {
	display : none;
}

INPUT {
	font-size : 14px;
	font-family : verdana, sans-serif;
	font-variant : small-caps;	
	background : Silver;
	border : medium outset Black;
	letter-spacing : 2px;
	margin-bottom : 2px;
	margin-left : 2px;
	margin-right : 2px;
	margin-top : 2px;
	text-align : center;
}

INPUT.smallbutton {
	font-size : 10px;
	letter-spacing : normal;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	font-variant : normal;
	border : thin outset Black;
}

A {
	text-decoration : none;
	font-weight : bold;
	color : Black;	
}

A:hover {
	text-decoration : underline;
	
}

A.path {
	white-space : nowrap;
}

A.directory {
	white-space : nowrap;
}

.isDownloading {
	color : Green;
}

.isUploading {
	color : Maroon;
}

.isDeleted {
	color : Red;
}

.isNewerAvailable {
	color : Blue;
}

.isExpected, .diskFileNotThere {
	color : Gray;
}

TABLE.fileTable {
	
}

TR.fileTableHeader {
	background-color : #87CEFA;	
}

TD.modificationDate {
	text-align : right;	
}

TH.modificationDate {
	text-align : center;	
}

TD.filesize {
	text-align : right;
	white-space : nowrap;
}

TH.spacer {
	width : 4px;
}

DIV.rightAlign {
	text-align : right;
}
