#PowerFolder config file (v0.9.3 devel)
#Mon Apr 17 00:47:18 CEST 2006
nodeid=randomstringBart
lanuploadlimit=0
net.bindaddress=127.0.0.1
nick=Bart
port=45678
verbose=true
disableui=true
publicnetworking=false
uploadlimit=0
disablebroadcasts=true
networkingmode=LANONLYMODE
mydyndns=localhost