#PowerFolder config file (v0.9.3 devel)
#Mon Apr 17 00:47:18 CEST 2006
nodeid=randomstringHomer
lanuploadlimit=0
net.bindaddress=127.0.0.1
net.openport=false
use.pf.icon=false
nick=Homer
random-port=false
port=8835
verbose=true
log.file.level=OFF
disableui=true
disablercon=true
uploadlimit=0
net.broadcast=false
networkingmode=LANONLYMODE
mydyndns=localhost
auto.connect=false
uploads.auto.cleanup.frequency=4
downloads.auto.cleanup.frequency=4
transfer.limit.autodetect=false
# no server connection required
server.disconnect.sync_anyways=true
server.load.nodes=false